*{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    --knigthmare: #040714;
    --flashpoint: #09102b;
}
/*MENU*/
.menu{
    width: 100%;
    background: #040714;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.menu img{
    width: 90px;
    height: auto;
}
/*CAIXA DE TÍTULO*/
.box{
    text-align: center;
    padding: 50px;
    color: var(--color-font);
}
/*PLANOS DE ASSINATURA*/
.planos{
    background: #040714;
    height: 100vh;
}
.planos .container .zack-snyder{
    background: var(--flashpoint);
    text-align: center;
    height: 250px;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 20px #6610f2;
    border-radius: 20px;
}
.plano img{
    width: 100px;
    height: auto;
    margin-bottom: 15px;
}
/*CATÁLOGO DE FILMES*/
.filmes{
    background: #040714;
    height: 190vh;
 }
.filmes .container .filme img{
    border-radius: 20px;
    height: 450px;
    width: auto;
    box-shadow: 0 5px 20px #6610f2;
}
.filmes .container .card{
    background: none;
    border: none;
}
/*BANNER PARALAX*/
.banner{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/background.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
.banner .container .row form{
    width: 50%;
    max-width: 100%;
    position: relative;
}
.banner .container .row form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #0d6efd;
    outline: none;
    border-radius: 30px;
}
.banner .container .row form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #0d6efd;
    box-shadow: 0 0 5px #000, 0 0 15px #858585;
    top: 6px;
    right: 20px;
}
/*SERVIÇOS*/
.servicos{
    height: 100vh;
  }

